.notifications {
    background-color: #1ad1b9;
}

.notifications h2 {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

.project-header {
    padding: 10px;
    padding-right: 30px;
    display: flex;    
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);  
    
    
}

.project-header__title {
    font-size: 50px;
    font-family: 'Montserrat', 'system-ui', 'Segoe UI';
    font-weight: 500;   
    color:#282b2b;
    font-weight: bold;
}

.project-header__button {
    margin-left: -2px;
    padding: 10px 85px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    color: #FFF;
    font-size: 20px;    
    font-weight:bold;
    background-color: #202627ab;
    border: none;
    font-family: 'Montserrat', 'system-ui', 'Segoe UI';
} 

 .project-header__button:hover {
    box-shadow: 0 0 5px 5px #333131;        
    color: #fef720;    
    font-weight: bold;
    cursor: pointer;        
} 



.project-cards{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin: 40px;
    transition: 0.5s ease-in-out;
}

.project__add-card{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 6px 15px 0px #494545;
    width: 300px;
    margin: 10px;
    padding-bottom: 10px;
    background-color: #202627ab;
    transition: 0.5s ease-in-out;
    margin-left: -30px;
}

/* .project__add-card:hover{
    transform: translateY(-15px);
} */

.project__add-card__button{
    border: none;
    padding: 0;
    border-radius: 15px;
    background: none;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
}

.project__add-card__img{
    transition: 0.5s ease-in-out;
    height: 150px;
}

.project__add-card__img:hover{
    transform: rotate(90deg);
    cursor: pointer;
}


.add-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
       
}


@media only screen and (max-width: 1140px) {
    .project-cards{
        justify-content: center;
    }

}

@media only screen and (max-width: 660px) {
    .project-header__title{
        font-size: 30px;
        font-weight: 500;
    }

    .project-header__button{
        font-size: 15px;
    }

}